.button{
    border-radius: 8px;
    background: var(--linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
    display: inline-flex;
    padding: 19px 28px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}